{
  "s3": {
    "bucket": "my-medical-imaging-data",
    "region": "us-east-1",
    "profile": "default"
  },
  "digitalocean": {
    "bucket": "my-medical-imaging",
    "region": "nyc3",
    "endpoint_url": "https://nyc3.digitaloceanspaces.com",
    "profile": "digitalocean"
  },
  "gcs": {
    "bucket": "my-medical-imaging-data",
    "project_id": "my-project-id"
  },
  "azure": {
    "account_name": "myaccount",
    "container": "medical-imaging"
  }
}
